
<div>

    <h1>Lista de Productos</h1>
    <ul>
        {{#each products}}
        <li>
            <h2>{{title}}</h2>
            <p>{{description}}</p>
            <img src={{thumbnail}} alt="imagen del producto">
            <p>Precio: {{price}}</p>
            <p>Stock: {{stock}}</p>
        </li>
        {{/each}}
    </ul>

</div>


<script src="/socket.io/socket.io.js"></script>;

<script src="../public/js/index.js"></script>